numpy<2
cython-bbox
faiss-gpu
filterpy
gdown
h5py
lap
loguru
ninja
onnx-simplifier
onnxruntime
opencv-python
pandas
prettytable
pysocks
setuptools
scikit-learn
tabulate
tensorboard
termcolor
thop
torchvision
xmltodict
yacs
pycocotools
